/* Deafult Margin & Padding view-height & view-width */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

/* Deafult height & widht */

/* Deafult z-index and font-weight*/

/* ======================
  Global CSS start
========================*/

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 2s;
    margin-top: 200px;
  }
  to {
    transform: scale(5) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
    margin-top: 0;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: var(--ac-primary);
}

::selection {
  color: #ffffff;
  background: var(--ac-primary);
}

/****************************************
Responsive Classes
*****************************************/

/* call to action area */

/*====================================
    Support page CSS
====================================*/

/* Payment Method section style */

.item ul,
.item input[type=checkbox] {
  display: none;
  overflow: hidden;
  transition: 0.3s;
}

.item ul li.is-active a {
  color: var(--ac-primary);
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul {
  display: block;
  transition: 0.3s linear;
}

.item input:checked ~ label span,
.item input:checked ~ .item > label span {
  transform: rotate(90deg);
  margin-top: 0;
  transform-origin: 0;
}

.item label span {
  position: absolute;
  right: 15px;
  transition: 0.3s ease-in-out;
  top: 9px;
}

.item ul li a {
  display: block;
  padding: 6px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.item label {
  position: relative;
  z-index: 9;
}

.item:first-child input:checked ~ label,
.item:first-child input:checked ~ .item:first-child > label {
  border: 1px solid transparent;
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul > .item {
  margin-left: -20px;
}

/* datasheet style start */

/* datasheet style end */
/* schedule-demo start */

/* schedule-demo end */
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0px);
  transition: transform 500ms linear;
}

.headroom--unpinned {
  transform: translateY(-165px);
}
.headroom--unpinned .navbar-appscode-wrapper.navbar-product {
  transform: translateY(104px);
}

/****************************************
Responsive Classes
*****************************************/
@media (max-width: 1023.98px) {
  .headroom--unpinned .navbar-appscode-wrapper.navbar-product {
    padding: 0 0;
    transform: translateY(104px);
  }
  .headroom--unpinned .navbar-appscode-wrapper.navbar-product .navbar-appscode .navbar-right {
    top: 47px;
  }
}

.single-result-item {
  padding: 16px 32px;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #dbdbde;
}
.single-result-item:last-child {
  border-bottom: none;
}
.single-result-item:hover {
  background-color: #f7f7fd;
}

/****************************************
Responsive Classes
*****************************************/

/****************************************
Responsive Classes
*****************************************/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/****************************************
Responsive Classes
*****************************************/

/****************************************
Responsive Classes
*****************************************/

/* table style start */

/* brand logo area start */

/* brand logo area end */

/****************************************
Responsive Classes
*****************************************/

/****************************************
Responsive Classes
*****************************************/
/* pricing section style */

/****************************************
Responsive Classes
*****************************************/
/*==============================================================
    Documentation page style
==============================================================*/

/* version section style start */

/* version section style end */

/****************************************
Responsive Classes
*****************************************/

/****************************************
Responsive Classes
*****************************************/